<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>System usability score</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div class="container my-2">
    <h2>SUS questionnaire</h2>
    <hr>
    <div th:replace="fragments/questions.html :: questions"></div>
    <script type="text/javascript" th:src="@{/computeSus.js}"> </script>
</div>
</body>
</html>
